@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Material+Icons:400,600&display=swap');

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  background-color: #F5EFDC;
  /* goes to id smoothly  */
  scroll-behavior: smooth;
  /* makes padding top for navbar */
  scroll-padding: 6em;
  color: #987A3E;
  /* testing */
  /* color: red; */
}

header {
  background-color: #A9C7B6;
  grid-area: header;
  position: fixed;
  top: 0px;
  height: auto;
  margin-top: 0px;
  width: -webkit-fill-available;
  z-index: 1;
  padding: 22px 0;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  width: 12px;
  background: #A9C7B6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #987A3E;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 7em;
}

h1,
h2 {
  font-family: 'Playfair Display';
  font-size: 5em;
  margin: 0px;
  padding: 0px 0 18px 0;
}

@media only screen and (max-width: 480px) {

  h1,
  h2 {
    font-size: 3.25em;
  }

  .home-text {
    top: 50% !important;
  }
}

nav {}

nav>ul {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  height: auto;
}

nav>ul>li {
  list-style: none;
}

nav>ul>li.logo {
  height: 100%;
  width: 140px;
  padding: 0 100px;
}

a>img.logo-img {
  width: 100%;
}

nav>ul>li>a {
  text-decoration: none;
  color: #F5EFDC;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
}

.description-content {
  border-top: 8.75px solid #987A3E;
  border-bottom: 8.75px solid #987A3E;
  padding: 18px 42px;
  text-align: center;
}

.description-content>p:nth-child(1) {
  color: #987A3E;
  width: fit-content;
  margin: 0 auto;
  line-height: 1.5em;
  font-size: 2em;
  padding: 12px;
}

.description-content>p:nth-child(2) {
  color: #987A3E;
  width: fit-content;
  font-size: 1.25em;
  line-height: 1.75em;
  margin: 0 auto;
}

/* .description-btn {
  margin: 24px auto;
  background-color: #F5EFDC;
  width: 200px;
  color: #987A3E;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease-in-out !important;
}

.description-btn:hover {
  background-color: #987A3E;
  color: #F5EFDC;
  text-decoration: underline;
} */
section.home-image>div>img {
  width: 100%;
}

.home-text {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 55%;
  margin: 0 auto;
  /* color: #F5EFDC; */
  color: #fdfdfd;
}

.significance-text>h2 {
  color: #fff9e5;
  position: relative;
  text-align: center;
  width: 100%;
  top: 55%;
  margin: 0 auto;
  letter-spacing: 6px;
}

@media only screen and (min-width: 300px) {
  section.home-image {
    position: relative;
    width: 100%;
    background-color: #9a8149;
    background-blend-mode: soft-light;
    /* wish the image was 1080p */
    background-image: url("../images/churchill-house-21.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }

  .container {
    width: 100%;
    background-color: #fafafafa;
  }

  .navbar-toggle {
    display: none !important;
  }

  .robin-content,
  .history-content,
  .significance-content {
    display: grid;
    grid-template-columns: 12px auto 12px;
    grid-template-rows: 12px 0fr auto 0fr 12px;
    grid-gap: 6px;
  }

  .history-content {
    grid-template-areas: "grid4""grid3";
  }

  .robin-content {
    grid-template-areas: "grid2""grid1";
  }

  .significance-content {
    grid-template-areas: "grid5""grid6";
  }

  .grid-row-1 {
    width: auto;
    grid-area: grid1;
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: justify;
  }

  .grid-row-1>p, .grid-row-3>p {
    line-height: 2.5em;
    padding: 0px 24px;
  }

  .grid-row-2 {
    width: auto;
    grid-area: grid2;
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url("../images/extra2-robin.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* fixed the screwed up zoom */
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }

  .grid-row-3 {
    width: auto;
    display: grid;
    height: fit-content;
    grid-area: grid3;
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .grid-row-4 {
    width: auto;
    display: grid;
    grid-area: grid4;
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url("../images/churchill-house-1.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }

  .grid-row-2,
  .grid-row-4 {
    min-height: 464px;
  }

  .grid-row-5 {
    width: 100%;
    height: 425px;
    background-color: #554116;
    background-blend-mode: soft-light;
    display: grid;
    grid-area: grid5;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 2;
    background-image: url("../images/churchill-house-11.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }

  .grid-row-6 {
    grid-area: grid6;
    grid-row: 4;
    grid-column: 2;
    grid-column-end: 2;
    margin: 0 auto;
    text-align: justify;
    width: 100%;
    line-height: 2.5em;
  }

  .grid-row-6>ul>li {
    margin-top: 0px;
    font-size: 0.85em;
    line-height: 2em;
    list-style: disc;
    padding: 0px 0px 6px;
    margin: 0.5em 5em;
  }
}

@media only screen and (max-width: 768px) {
  .home-text>h1 {
    font-size: 3.25em;
  }
}



@media only screen and (max-width: 1980px) {
  section.home-image {
    height: calc(100vh - 234px) !important;
  }
}

@media only screen and (max-width: 1767px) {
  section.home-image {
    height: calc(100vh - 258px) !important;
  }
}

@media only screen and (min-width: 1366px) {
  @media only screen and (max-height: 1024px) {
    .history-content {
      grid-template-columns: 12px 1fr 6px 1.5fr 12px;
      grid-template-rows: 6px auto 12px;
      grid-template-areas: "grid3 grid4";
    }

    .grid-row-3 {
      grid-row: 2;
      grid-column-start: 2;
      grid-column-end: 2;
    }

    .grid-row-4 {
      grid-row: 2;
      grid-column-start: 4;
      grid-column-end: 4;
      background-size: cover;
    }

    section.home-image {
      height: 100vh !important;
    }
  }
}

@media only screen and (max-width: 800px) {
  section.home-image {
    height: 100vh !important;
  }
}

@media only screen and (max-height: 625px) {
  section.home-image {
    min-height: 600px;
  }

  .home-text {
    top: 40%;
  }
}

@media only screen and (max-width: 622px) {
  .grid-row-4 {
    background-position: calc(100vw - 218vw) -420px !important;
  }
}

@media only screen and (max-width: 544px) {
  .grid-row-4 {
    background-position: calc(100vw - 234vw) -420px !important;
  }
}

@media only screen and (max-width: 542px) {
  .significance-text>h2 {
    letter-spacing: normal;
  }
}

@media only screen and (max-width: 506px) {
  .grid-row-4 {
    background-position: calc(100vw - 246vw) -420px !important;
  }
}

@media only screen and (max-width: 414px) {
  .grid-row-4 {
    background-position: calc(100vw - 280vw) -420px !important;
  }
}

@media only screen and (max-width: 375px) {
  .grid-row-4 {
    background-position: calc(100vw - 298vw) -420px !important;
  }
}

@media only screen and (max-width: 768px) {
  @media only screen and (max-height: 1024px) {
    .grid-row-2, .grid-row-4, .grid-row-5 {
      /*
        fixed the images that didnt display properly on real ipads and tabs
      background-size: auto;
      background-attachment: scroll; */
      background-size: cover;
      background-attachment: fixed;
    }

    section.home-image {
      background-size: auto;
      background-attachment: scroll;
      height: 100vh !important;
    }
  }
}

@media only screen and (max-width: 375px) {

  /* testing */
  /* body {
    color: blue;
  } */
  .grid-row-2, .grid-row-4, .grid-row-5 {
    background-size: auto;
    background-attachment: scroll;
  }

  section.home-image {
    background-size: auto;
    background-attachment: scroll;
  }
}

@media only screen and (min-width: 992px) {
  .grid-row-2 {
    background-position: center 105px;
    background-size: cover;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-height: 768px) {
  .grid-row-2, .grid-row-4, .grid-row-5 {
    background-size: auto;
    background-attachment: scroll;
  }

  .grid-row-2 {
    background-position: center;
  }

  section.home-image {
    background-size: cover;
    background-attachment: scroll;
    height: 100vh !important;
  }
}

@media only screen and (max-width: 1138px) {

  html,
  body {
    /* goes to id smoothly  */
    scroll-behavior: smooth;
    /* makes padding top for navbar */
    scroll-padding: 23.25em;
  }

  .navbar-toggle {
    display: none !important;
    font-size: 2.5em;
    position: absolute;
    top: 22px;
    right: 30px;
  }

  .icon-menu {
    display: block !important;
    position: absolute;
    top: 36px;
    right: 30px;
  }

  li.icon-menu>* {
    font-size: 3.25em !important;
  }

  /* + adjacent sibling selector(kinda redoes css after it) + */
  .navbar-toggle:checked+.container-nav>li.item {
    display: grid;
  }

  .container-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 6px;
    text-align: center;
    justify-content: center;
    grid-template-areas: "logo""item1""item2""item3""item4""item5";
  }

  .container-nav>li.item {
    /* border-bottom: 1.75px solid #F5EFDC; */
    padding: 19px 48px;
    display: none;
  }

  .container-nav>li.item:nth-child(1) {
    grid-area: item1;
    grid-row: 2;
    padding-top: 48px;
  }

  .container-nav>li.item:nth-child(2) {
    grid-area: item2;
    grid-row: 3;
  }

  .container-nav>li.item:nth-child(3) {
    grid-area: item3;
    grid-row: 4;
  }

  .container-nav>li.item:nth-child(4) {
    grid-area: item4;
    grid-row: 4;
  }

  .container-nav>li.item:nth-child(5) {
    grid-area: item5;
    grid-row: 5;
  }

  .container-nav>li.logo {
    height: auto;
    left: 0;
    top: 14px;
    grid-area: logo;
    grid-row: 1;
    position: relative;
    padding: 0px 30px;
  }

  .significance-text>h2 {
    top: 3%;
  }
}

/* @media only screen and (max-width: 1260px) and (min-width: 1024px) {
  .robin-content {
    grid-template-rows: 12px auto auto 0fr;
    grid-template-columns: 12px 1fr 12px;
    grid-template-areas: "grid2 grid2""grid1 grid1";
  }
} */
@media only screen and (min-width: 1024px) {
  .robin-content {
    grid-template-columns: 12px 1.3fr 6px 0.7fr 12px;
    grid-gap: 6px;
    grid-template-rows: 12px auto 0fr;
    grid-template-areas: "grid1 grid1""grid2 grid2";
  }

  .significance-content {
    display: grid;
    grid-template-columns: 12px 1fr 12px;
    grid-template-rows: 0fr auto 0fr auto;
    grid-gap: 6px;
    grid-template-areas: "grid5 grid5""grid6 grid6";
  }

  .grid-row-1 {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .grid-row-2 {
    grid-row: 2;
    grid-column-start: 4;
    grid-column-end: 4;
    background-position: calc(100vw - 89vw) 98px;
    background-size: cover;
  }

  @media only screen and (max-height: 1366px) {
    .container {
      width: 100%;
    }

    .robin-content, .history-content, .significance-content {
      grid-template-columns: 12px auto 12px;
      grid-template-rows: 12px 0fr auto 0fr 12px;
    }

    .grid-row-1 {
      grid-row: 4;
      grid-column-start: 2;
      grid-column-end: 2;
    }

    .grid-row-2 {
      grid-row: 2;
      grid-column-start: 2;
      grid-column-end: 2;
      background-position: center 105px;
      background-size: cover;
      background-attachment: fixed;
    }

    .grid-row-3 {
      grid-row: 4;
      grid-column-start: 2;
      grid-column-end: 2;
    }

    .grid-row-4 {
      grid-row: 2;
      grid-column-start: 2;
      grid-column-end: 2;
      background-size: cover;
    }
  }


  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1280px) {
  @media only screen and (max-height: 800px) {
    .history-content {
      grid-template-columns: 12px 1fr 6px 1.5fr 12px;
      grid-template-rows: 6px auto 12px;
      grid-template-areas: "grid3 grid4";
    }
  }
}

@media only screen and (max-width: 812px) {
  @media only screen and (max-height: 500px) {
    html, body {
      scroll-padding: 8.25em;
    }

    .navbar-toggle+.container-nav>li.item {
      height: auto;
    }

    .navbar-toggle:checked+.container-nav {
      height: 45vh;
      overflow-y: scroll;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .grid-row-1 {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .grid-row-2 {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    background-size: cover;
  }

  @media only screen and (max-height: 768px) {
    .history-content {
      grid-template-columns: 12px auto 12px;
    }
  }

  @media only screen and (max-height: 1366px) {
    section.home-image {
      height: 100vh !important;
    }
  }
}

@media only screen and (min-width: 1138px) {
  .icon-menu {
    display: none;
  }

  nav>ul>li.item:nth-child(4),
  nav>ul>li.item:nth-child(5) {
    padding: 19px 48px;
    border-left: 1.75px solid #F5EFDC;
  }

  nav>ul>li.item:nth-child(1),
  nav>ul>li.item:nth-child(2) {
    padding: 19px 48px;
    border-right: 1.75px solid #F5EFDC;
  }
}

@media only screen and (min-width: 1024px) {
  section.home-image {
    height: calc(100vh - 132px) !important;
  }

}


@media only screen and (min-width: 1200px) {
  .robin-content {
    grid-template-rows: 12px auto auto 0fr;
    grid-template-columns: 12px 1.3fr 6px 0.7fr 12px;
    grid-template-areas: "grid1 grid1""grid2 grid2";
  }

  .grid-row-1 {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .grid-row-2 {
    grid-row: 2;
    grid-column-start: 4;
    grid-column-end: 4;
    background-position: calc(100vw - 69vw) 98px;
    /* background-size: contain; */
  }
}

@media only screen and (min-width: 1366px) {
  @media only screen and (max-height: 1024px) {
    .history-content {
      grid-template-columns: 12px 1fr 6px 1.5fr 12px;
      grid-template-rows: 6px auto 12px;
      grid-template-areas: "grid3 grid4";
    }

    .grid-row-3 {
      grid-row: 2;
      grid-column-start: 2;
      grid-column-end: 2;
    }

    .grid-row-4 {
      grid-row: 2;
      grid-column-start: 4;
      grid-column-end: 4;
      background-size: cover;
    }
  }
}

/* amazon tab */
@media only screen and (min-width: 1280px) {
  @media only screen and (max-height: 800px) {
    .grid-row-4 {
      grid-row: 2;
      grid-column-start: 4;
      grid-column-end: 4;
      background-size: cover;
    }

    .grid-row-3 {
      grid-row: 2;
      grid-column-start: 2;
      grid-column-end: 2;
    }
  }
}

@media only screen and (min-width:1980px) {
  .home-text {
    position: sticky;
    padding-bottom: 50px;
  }
  section.home-image {
    height: 100vh !important;
  }

  h1 {
    font-size: 10em;
  }
}

.grid-row-1>p,
.grid-row-3>p {
  line-height: 2.5em;
  padding: 0px 24px;
}

.grid-row-3>p:nth-child(3) {
  margin: 0px 0px;
}

.grid-row-3>ul>li {
  margin-top: 0px;
  font-size: 0.85em;
  line-height: 2em;
  list-style: disc;
  margin: 0.5em 5em;
}

/* .grid-row-1:nth-child(1){
  grid-row: 4;
  grid-column-start: 2;
  grid-column-end: 2;
} */
.grid-img-1 {
  width: 100%;
  margin: auto 0;
}

.grid-row-1>h1 {
  margin-top: 0px;
  text-align: center;
}

.significance-text {
  width: 100%;
}

.grid-row-6>p {
  line-height: 2.5em;
  padding: 0px 24px;
}

.grid-row-6>p:last-child {
  padding-bottom: 24px;
}

/* .grid-row-2:nth-child(1){
  grid-row:4;
  grid-column-start: 4;
  grid-column-end: 4;
} */
.history-content {
  /* height: 1000px;
  display: grid; */
}

footer {
  clear: both;
  min-height: 48px;
  background-color: #A9C7B6;
  color: #F5EFDC;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  grid-area: footer;
}

footer>p {
  margin: 0;
  padding: 30px 15px;
  line-height: 1.5em;
}
