/* https://coolors.co/a31621-bfdbf7-053c5e-a38d65-343A40 */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@400;500&display=swap');
body{
  margin: 0;
  padding: 0;
  color: #343A40;
font-family: 'Abel', 'Roboto';
}

h1, h2, h3, h4, h5, h6{
  color: #a38d65;
  font-weight: 600;
  letter-spacing: 2px;
}

.info h5, .modal-related h5, .info-primary h5{
  margin-bottom: 0;
}

.content-anime .center-align{
    text-transform: capitalize;
}

.info, .info-primary{
  clear: both;
}


.modal-synopsis p{
  letter-spacing: 1.5px;
line-height: 2.5rem;
font-family: 'Roboto';
text-align: justify;
margin: 0;
}

.modal-trailer{
  margin-bottom: 2rem;
}



.modal-content .close-x{
  position: relative;
    top: -9.5vh;
  right: 19.5px;
  float: right;
  width: 70px!important;
  padding: 0;
  margin: 8px auto!important;
  font-size: 2.4rem;
}
 .content-genres{
   margin-bottom: 85px;
 }
.header-anidistro{
  margin: 85px auto;
  width: fit-content;
}
.modal-header-anidistro{
  margin: 85px auto;
  width: fit-content;
}

.header-logo{
  height: 110px;
  width: auto;
  cursor: pointer;
}
.genres-mobile{
  width: 100%;
  display: none;
    /* color: #a38d65; */
}

.next{
      width: 100px;
}
.modal .center-align{
  position: relative;
top: -62px;
}

.animeImgWrapper, .animeImgWrapper-season{
    padding: 12px!important;
      height: 600px;
      position: relative;
}

.modal-animeImg, .modal-synopsis, .modal-aired, .modal-licensors, .modal-producers, .modal-watch, .modal-genres, .modal-score, .modal-scoredBy, .modal-episodes{
  margin-bottom: 14px;
  padding: 0px 12px 24px;
}




.title{
  font-size: 2.4rem;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  font-weight: bold;
  width: 80%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}


@media only screen and (min-width: 1200px) {
  .modal-synopsis, .modal-animeImg{
    position: relative;
  top: -62px;
  }

  .modal-animeImg{
      top: 6px;
  }
  .modal-trailer{
margin: -60px 0 2rem 0;
  }
  .modal-producers, .modal-licensors{
    margin-bottom: 14.5px;
  }
}

@media only screen and (min-width: 992px) {

.animeImg{
height: 100%;
  width: 100%;
}

.animeImgWrapper{
      max-height: 13.5%!important;
}
.animeImgWrapper-season{
  height: 3%;
  height: 2.4%;
          height: 16%;
    height: 12.5%;

}

}

@media only screen and (max-width: 600px) {
  .animeImgWrapper {
      height: 4.5%!important;
  }
  .animeImgWrapper-season {
      height: 4%!important;
  }
.genres-mobile{
  display: block;
}
.header-logo {
    height: auto;
    width: 100%;
  }

  .header-anidistro {
      width: 90%;
    }
.genres{
  display: none;
}
}
@media only screen and (max-width: 992px) {
  .animeImgWrapper{
    height: 9%;
  }
}
@media only screen and (max-width: 1200px) {
  .animeImgWrapper{
    height: 9%;
  }
  .animeImgWrapper-season{
    height: 9%;
  }
  .modal-animeImg{
        top: -61px;
  }
  .animeImg{
  height: 100%;
    width: 100%;
  }


}
@media only screen and (max-width: 1360px) {
  .animeImgWrapper {
    height: 600px;
    max-height: 10.5%!important;
}
}
@media only screen and (max-width: 1440px) {
  .animeImgWrapper {
    height: 550px;
    max-height: 10.5%!important;
}
}


/* theme edit */
.container{
  max-width: 1440px;
  display: grid;
}

.modal{
  top: 0;
  max-width: 100vw;
  /* padding: 40px; */
  width: 100%;
  max-height: 100vh;
  height: 100%;
}
.modal .modal-content{
  padding: 0;
}

.modal-content .center-align{
  padding-bottom: 2rem;
}
.modal-close{
  margin: 0;
  position: relative;
    bottom: 0;
    margin-bottom: 40px;
}

.modal-overlay{

}

.modal-animeImg{
  margin: -62px 0 2rem 0;
  padding-right: 2rem!important;
}


.row .col{
  padding: 0 1em;
}


select {
    color: #a38d65;
}

option.button{
      color: #fff;
}

option.button:focus, .modal button:focus{
  color: #fff;
        background-color: #A31621;
}
select:focus, select:hover{
      border: 1px solid #a38d65;
      background-color: #A31621;
    color: #fff;
    border-color: #A31621;

}


.button, button, a, a:hover{
  margin: 6px;
    letter-spacing: 2px;
  color: #a38d65;


}
.modal-content .button, .modal-content button{
    margin: 6px 0;
  width: 100%;
  padding: 0px;
}
.button:hover, .button:focus{
  background-color: #A31621;
  color: #fff;
  border-color: #A31621;
}
